<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    h2{
        text-align: center;
        margin: 1.2em;
    }
    .center{
        padding: 100px 0;
    }
</style>
<body>
    <div class="center">
    <h2>Converted & Compressed Successfully</h2>
    <hr>
    </div>
    
</body>
</html>